header {
    min-height:20%; 
    width:100%;
    background-color:#353744;
    clear: left;
    text-align: left;
} 
.header img {
    float: left;
}

.header h1 {
    position: relative;
}




main {
    position: relative;
    left: 165px;
    width: 85%;
}

#output{
        width: 100%;
        height: 85px;
        background-color:purple;
       -ms-grid-row: 250;
        columns: 150;
}

form{
    position: fixed;
    bottom: 0;
    width: 75%;
    background-color: red;
}

#msg-box{
        width: 100%;
        height: 85px;
        background-color:blue;
       -ms-grid-row: 4;
        columns: 150;
}

/*
input{
    width: 100%;
    height: 100px;
    background-color:blue;
    padding-left:0;
    padding-top:0;
    padding-bottom:0.4em;
    padding-right: 0.4em;
}*/

button {
    position: fixed;
    border-style: none;
    bottom: 5%;
    right: 5%;
    background-color: transparent;
}

#submit img {
    border: transparent;
}

nav {
    position: fixed;
    top: 21%;
    width: 160px;
    min-height: 21%;
    height: 100%; 
    background-color: #61D292;
}