header {
    min-height:20%; 
    width:100%;     
    background-color:#353744;
    clear: left;
    text-align: left;
} 
.header img {
  float: left;
  background: #555;
}

.header h1 {
  position: relative;
}

main {
    position:relative  ;
    left: 165px;
}

nav {
    position: fixed;
    top: 21%;
    width: 160px;
    min-height: 21%;
    height: 100%; 
    background-color: 61D292;
}

button {
    display: inline-block;
    padding: 0;
    margin: 0;
    vertical-align: top;
}

#submit img {
    display: block;
    border: transparent;
}